.arrow{
    
    position: relative;
    transition: color 0.3s ease;
    
    cursor: pointer;
    
    width: 52px;
    height: 72px;
    
    svg {
        position: absolute;
        right: 0;
        transition: all 0.3s ease-in-out;
        
        
    }
}