@import "../../styled/variables.scss";

.project__block {
    // z-index: 50;
}
.project__block_loader {
    height: 100vh;
}
.img__wrapper {
    margin: 0;
    width: 100%;
    
    img {
        width: 100%;
        height: 100%;
    }
}
.project__content__wrapper {
    width: $default-width;
    margin: 0 auto;
    transition: width 0.2s;
}
.open__path {
    margin-top: 45px;
    padding-bottom: 50px;

    .begin__path {
        color: $text-path-color;
        cursor: pointer;
    }
    .end__path {
        color: $text-end-path-color;
    }
}

.project__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;

    color: $text-default-color;
}

.project__header {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project__description {
    color: $text-default-color;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.project__content {
    margin: 0 auto;
    transition: width 0.2s;
    width: 1000px;
    position: relative;
    z-index: 10;
    padding: 25px 0;
    word-wrap: break-word;
}

.project__backend__data {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h2,
* {
    color: #eff3ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik";
}
h1,
h2 {
    font-weight: 500;
    font-size: 28px;
}
p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    img {
        object-fit: contain;
        width: 100% !important;
    }
}
ul {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin-top: 20px;
    padding-left: 20px;
    li {
        margin: 2px 0;
    }
}

@media screen and (max-width: 1279px) {
    .project__content__wrapper {
        width: 90vw;
    }
    .project__content {
        width: 90vw;
    }
}
@media screen and (max-width: 700px) {
    h1,
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
}
