@import "../../styled/variables.scss";

.project__block {
    // z-index: 50;
}
.project__block_loader {
    height: 100vh;
}
.img__wrapper {
    margin: 0;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}
.project__content__wrapper {
    width: $default-width;
    margin: 0 auto;
    transition: width 0.2s;
}
.open__path {
    margin-top: 45px;
    padding-bottom: 50px;

    .begin__path {
        color: $text-path-color;
        cursor: pointer;
    }
    .end__path {
        color: $text-end-path-color;
    }
}

.project__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;

    color: $text-default-color;
}

.project__header {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project__description {
    color: $text-default-color;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.project__content {
    margin: 0 auto;
    transition: width 0.2s;
    width: 1000px;
    position: relative;
    z-index: 10;
    padding: 25px 0;
    word-wrap: break-word;
}

.project__backend__data {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h2,
* {
    color: #eff3ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik";
}
h1,
h2 {
    font-weight: 500;
    font-size: 28px;
}
p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    img {
        object-fit: contain;
        width: 100% !important;
    }
}
ul {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    margin-top: 20px;
    padding-left: 20px;
    li {
        margin: 2px 0;
    }
}
figure {
    
    img {
        
        object-fit: contain;
        width: 100%;
    }
}

.image__item {
    width: 100%;
    height: 380px;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: $text-default-color;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 8px;

    span {
        z-index: 5;
        pointer-events: none;
    }
}

.project__title__link {
    color: #fff;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-left: 26px;
    margin-right: 25px;
    margin-top: 8px;
}
a {
    text-decoration: none;
}
.project__description__link {
    color: #fff;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 7px 26px 26px;
    max-width: 300px;
}
.blackout {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    // background:linear-gradient(360deg, rgb(9, 11, 33) 0%, rgba(49, 51, 65, 0) 70.08%);
    background: linear-gradient(360deg, #090b21 20%, rgba(49, 51, 65, 0) 100%);
    transition: all 0.3s;
    &:hover {
        animation: opacity 0.3s forwards;
    }
    z-index: 8;
    border-radius: 7px;
}
.back__text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    border-radius: 7px;
    background: linear-gradient(360deg, rgb(9, 11, 33) 0%, rgba(49, 51, 65, 0) 70.08%);
}
.project__footer {
    margin: 0 auto;
    transition: width 0.2s;
    width: 1240px;
}
.more_projects {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}
.button__more__projects {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;

    &:hover {
        span {
            color: $support-color;
        }
    }
    span {
        transition: color 0.3s ease;
        font-size: 38px;
        font-weight: 500;
        line-height: 45px;
        margin: 0;
    }
}

@media screen and (max-width: 1279px) {
    .project__content__wrapper {
        width: 90vw;
    }
    .project__content {
        width: 90vw;
    }
    .project__footer {
        width: 90vw;
    }
}
@media screen and (max-width: 700px) {
    h1,
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
        z-index: 4;
    }
}
@keyframes shadow {
    0% {
        box-shadow: 0px 14px 11px rgba(17, 20, 31, 0.35);
    }
    100% {
        box-shadow: 0px 14px 11px rgba(17, 20, 31, 0.85);
    }
}
