@import "../../styled/variables.scss";

.header {
    height: 110px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    // transition: height 0.2s, transform 0.2s, background-color 0.2s;
    z-index: 30;
    flex: 1 0 auto;
    min-height: fit-content;
    background: #20212C;
    width: 100%;
}

// @media screen and (max-width: 1279px) {
//     .header {
//         height: 70px;
//         position: fixed;
//         top: 0;
//         width: 100vw;
//     }
// }

.header .header__content__wrapper {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header__content__wrapper {
    margin: 0 auto;
    transition: width 0.2s;
    width: 1080px;
}
.header__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 80px;
    margin-right: 5px;
    margin-top: 4px;
}
.header__link__item {
    list-style: none;
    padding-top: 2px;
    color: $text-default-color;
    cursor: pointer;
}
.header__logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    transition: opacity 0.2s;
}
