@import "../../styled/variables.scss";

.header {
    height: 6rem;
    left: 0;
    padding: 0;
    position: sticky;
    top: 0;
    transform: translateY(0);
    // transition: height 0.2s, transform 0.2s, background-color 0.2s;
    z-index: 30;
    flex: 1 0 auto;
    min-height: fit-content;
    background: #20212c;
    width: 100%;
    transition: all 0.2s;
}
.header__down {
    @extend .header;
    transition: all 0.2s;
    top: -6rem;
    background: #20212c;
}

// @media screen and (max-width: 1279px) {
//     .header {
//         height: 70px;
//         position: fixed;
//         top: 0;
//         width: 100vw;
//     }
// }

.header .header__content__wrapper {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    align-items: center;
    height: 100%;
}
.header__content__wrapper {
    margin: 0 auto;
    transition: width 0.2s;
    width: $default-width;
}
.header__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 80px;
    margin-right: 5px;
    margin-top: 4px;
}

.header__link__item {
    list-style: none;
    padding-top: 2px;
    color: $text-default-color;
    cursor: pointer;
    position: relative;
    text-align: center;
    &:hover {
        .hover__line {
            animation: width__hover 0.2s forwards;
        }
    }
}
@keyframes width__hover {
    0% {
        width: 0%;
        margin-left: 50%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
    }
}
.hover__line {
    content: "";
    margin-left: 50%;
    background: $support-color;
    border-radius: 8px;
    height: 2px;
    width: 0%;
    position: relative;
    margin-top: 2px;
}

.header__logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    transition: opacity 0.2s;

    &:hover {
        path {
            transition: all 0.2s ease-in-out;

            fill: $support-color;
        }
    }
}
.header__burger {
    display: none;
}

@media screen and (max-width: 1279px) {
    .header__links {
        display: none;
    }

    .header__burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
    }
    .header__content__wrapper{
        width: 90vw;
    }

    .burger__line {
        width: 100%;
        background: $text-default-color;
        border-radius: 8px;
        height: 4px;
    }
    .header__menu {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: $background-default-color;
        top: 0;
        z-index: 35;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding-right: 40px;
        transition: all 0.4s;
    }
    .closed__button {
        margin-top: 50px;
        width: 100%;
        height: 50px;
        position: relative;
    }
    .line__wrapper {
        position: absolute;
        right: 40px;
        cursor: pointer;

        width: 50px;
        height: 50px;
    }
    .one__line {
        margin-top: 25px;
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 4px;
        transform: rotate(45deg);
        background: #a5b5ca;
        border-radius: 5px;
    }
    .two__line {
        @extend .one__line;

        transform: rotate(-45deg);
    }
    .header__menu__links {
        align-items: flex-start;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li {
            font-size: 30px;
            font-weight: 400;
            line-height: 41px;
            letter-spacing: 0em;
            text-align: left;
        }

        border-bottom: 3px solid;
        border-color: #2b2d3a;
        margin-bottom: 20px;
    }
    .menu__contact {
        color: #9aa8ba;
        list-style: none;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;

        border-bottom: 3px solid;
        border-color: #2b2d3a;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}
