$background-default-color: linear-gradient(180deg, #24252F 0%, #31313F 36.46%, #2F303D 44.58%, #242530 100%);
$text-default-color: #EEF3FF;
$text-path-color: #C4D2E3;
$text-end-path-color: #616580;
$card-filter-background: #2B2D3A;
$card-filter-box-shadow: 0px 14px 61px rgba(23, 27, 44, 0.75);
$form-block-background-color: #252631;
$support-color: #2D76F9;
